extends layout

block content
    div( class="container mt-5 border-dark")
        div(class="d-flex justify-content-center")
            h3 Alterar Password
        div
            form(action='/users/changepassword',method='Post')
                div(class="row justify-content-center")
                    div(class="form-group col-md-8")
                        label(for="inputPassword" class="form-label") Password Anterior:
                        input(type="password" class="form-control" name="oldpassword" required)
                div(class="row justify-content-center")
                    div(class="form-group col-md-8")
                        label(for="inputPassword" class="form-label") Nova Password:
                        input(type="password" class="form-control" name="newpassword" required)
                div(class="row justify-content-center")
                    div(class="form-group col-md-8")
                        label(for="inputPassword" class="form-label") Confirmar Nova Password:
                        input(type="password" class="form-control" name="confirmnewpassword" required)
                div(class="row justify-content-center")
                    button(type="submit" class="btn btn-primary") Submit
